body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f3ff;
  color: #333;
  margin: 0;
  padding: 0;
}

.welcome-section {
  background: #eaddff;
  border-radius: 16px;
}

.maskot-img {
  max-height: 130px;
}

.welcome-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.welcome-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #444;
}

.section-heading {
  font-size: 1.2rem;
  font-weight: 600;
  color: #5e35b1;
}

.card-tool {
  width: 250px;
  border-radius: 16px;
  overflow: hidden;
  background: white;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.card-manage{
  width: 250px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card-tool:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-tool-title {
  text-align: center;
  padding: 1rem;
  font-weight: 600;
  background-color: white;
}

.text-purple {
  color: #7e3af2;
}
